@use "sass:map";
@use "../../scss/main.scss";

.team-preview{

    .quantity{
        color:map.get(main.$colors, "subtitle");

    }
    
    div.line{
        display: flex;
        justify-content: space-between;
        vertical-align: middle;

        span:nth-child(2) {
            
            /*hack */
            margin-top:-2.6rem;
        
        }

        ul.member-list{


            
        }

    }
}