@use "sass:map";
@use "../../scss/main.scss";


.card-project{

    h2{
        font-weight: bold;
        color:map.get(main.$colors, "subtitle");
        
    }

    .card-project-platform{

        color:gray;
    }

    .card-project-date{

        display: inline-block;
        background:lightgray;
        color:dimgray;
        margin: 2rem 0 0 0;
        padding:0.5rem;
        border-radius: 0.5rem;
    }
}