.card-project{

    .card-project-platform{

        color:gray;
    }

    .card-project-date{

        display: inline-block;
        background:lightgray;
        color:dimgray;
        margin: 2rem 0 0 0;
        padding:0.5rem;
        border-radius: 0.5rem;
    }
}