@use "../../scss/main.scss";

.progressbar-container{

    height: 0.5rem;
    width:100%;
    .progressbar-outer{

        background-color: #cecece; 
        height: 0.5rem;
        width:100%;
        
        .progressbar-inner{

            height: 0.5rem;
            background-color: #85b5ff;

        }
    }
}